body {
    padding-top: 53px;
    background-color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.header {
    width: 90%;
    max-width: 1230px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 16px;
    line-height: 14px;
}
.item_link {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
nav:active, :focus {
color: #b50032;
}
a:hover{
    color: #b50032;
}
.main {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
    
}
.title {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 26px;
    margin-top: 0px;
}
.description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    max-width: 268px;
    margin: auto;
}
.description:after {
    content:"";
    display: block;
    width: 1px;
    height: 60px;
    background-color: #fff;
    margin: auto;
    margin-top: 26px;
}
.video {
    width: 90%;
    max-width: 1230px;
    margin: auto;
    height: 750px;
}
.header_left_nav .item_link {
color: #808080;
}
.header_left_nav .item_link:hover {
    color:#ea9292;
}
.featers {
    position: relative;
    max-width: 1230px;
    width: 90%;
    margin: auto;
    padding: 100 0;
}
.featers_title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 46px;
}
.table{
    margin-bottom: 200px;
}
.table_column {
    width: 300px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 179.69%;
}
.two_table_column {
    color: #868686;
}
.featers_text {
    max-width: 490px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
}
.rocket {
    position: absolute;
    top: 100px;
    right:0;
    z-index: 99;
    max-width: 300px;
}
.footer{
    padding: 130px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_nav .item_link {
    font-size: 18px;
    line-height: 21px;
}
.footer .logo{
    margin-bottom: 43px;
}
.footer .nav {
    margin-bottom: 28px;
    margin-top: 0;
}
.footer_text,
.footer_link {
    font-size: 18px;
    line-height: 21px;
    color: #808080;
    text-decoration: none;

}
.footer_text {
margin-bottom: 30px;   
}
.button {
color: white;
min-width: 260px;
min-height: 60px;
text-align: center;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 6px;
text-decoration: none;
padding: 20px;
}
@media (max-width: 960px) {
    .rocket{
        max-width: 230px;
    }
    .table_column {
        width: 250px;
    }
    .list {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header .logo {
        margin-bottom: 20px;
    }
    .header .main-nav {
     margin-bottom: 20px;
    }
    .rocket {
        max-width: 180px;
    }
    .video {
        width: 100%;
    }
    .header_nav{
        margin-bottom: 10px;
    }
}
@media (max-width: 576px) {
    .rocket {
        position: static;
        margin-bottom: 30px;
    }
    .table {
        margin-bottom: 0;
    }
    .table_column {
        font-size: 14px;
        width: 150px;
    }
    .footer_nav .list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .footer_nav .item {
    margin-bottom: 10px;
    }
    .footer {
        text-align: center;
    }
    .main {
        padding-top: 50px;
    }
    .features {
        padding-bottom: 0;
    }
}
